<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Test App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Minimal Test App</h1>
    <div id="panel_buttons">
        <button id="incr_count" class="button">Increment Counter</button>
    </div>

    <div id="info-panel">
        <p><strong>Counter Frontend:</strong> <span id="counter-frontend">0</span></p>
        <p><strong>Counter Server:</strong> <span id="counter-server">0</span></p>
    </div>
</body>
<script src="/js/script.js"></script>
</html>
